body {
    background-color: #01204c;
    height: auto;
    display: grid;
    justify-content: center;
    align-items: center;
}

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* Full width of the viewport */
    height: 120px; /* Adjust height for the top bar */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow for sidebar */
    transition: transform 0.3s ease;
    z-index: 1000; /* Ensure sidebar is above other content */
    background-color: white;
    transform: translateY(-100%); /* Hidden by default */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 25px 25px;
}

#sidebar.open {
    transform: translateY(0); /* Show sidebar when open */
}

#sidebar div {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px;
    padding-inline: 50px;
}

#sidebar div img {
    height: 100px;
    width: 100px;
}

#sidebar ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar ul li {
    padding: 10px 15px;
}

#sidebar ul li a {
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    padding: 10px;
    display: block;
    text-decoration: none;
    color: #01204c; /* Link text color */
    font-size: 25px;
}

#sidebar ul li a:hover {
    background-color: #01204c; /* Background color on hover */
    color: #FFFDD0; /* Text color on hover */
    padding: 10px;
    border-radius: 25px;
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

#sidebar #menu-toggle {
    background-color: #01204c;
    width: 70px;
    color: white;
    font-size: 15px;
    border: 1px white solid;
    border-radius: 25px
}

#home{
    position: relative;
    opacity: 0;
    transform: translateX(100%);
    transition: transform 1s ease-in, opacity 1s ease-out;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

#home.show {
    opacity: 1;
    transform: translateX(0);
}

#home img {
    margin-top: 105px;
    width: 100%;
    height: auto;
}

#about {
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    display: flex;
}
#about img {
    width: 100%;
    height: auto;
}


#posts {
}

#posts div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    height: 100%;
}

#posts div div {
    height: 100%;
    padding-inline: 5px;
}

#posts div h1 {
    font-size: 30px;
    color: white;
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

#merchandise div {
    justify-content: center;
    display: flex;
    align-items: center;
}

#merchandise div h1 {
    color: white;
    font-size: 50px;
}

#merchandise div h2 {
    color: white;
    font-size: 25px;
}

/* FIT FOR PHONE SCREENS */

@media only screen and (max-width: 400px) {
    body {
        width: 100%;
        margin: 0;
        padding: 0;
        overflow-x: hidden; /* Prevent horizontal scrolling */
    }

    #sidebar {
        width: 100%;
        height: 25%;
        transform: translateY(-100%); /* Hidden by default */
        transition: transform 0.3s ease;
        position: fixed;
        display: grid;
        justify-content: center;
        align-items: center;
        top: 0;
        left: 0;
        z-index: 1000; /* Ensure sidebar is above other content */
        background-color: white;
    }

    #sidebar.open {
        transform: translateX(0); /* Show sidebar when open */
    }

    #sidebar div {
        display: grid;
        justify-content: center;
        align-items: center;
    }

    #sidebar div img {
        height: 60px;
        width: 60px;
        border-radius: 50%; /* Round image */
    }

    #sidebar ul {
        list-style: none;
        padding: 0;
    }

    #sidebar ul li {
        padding-inline: 8px /* Larger padding for easier tapping */
    }

    #sidebar ul li a {
        font-size: 15px; /* Larger font size */
        font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
        display: block;
        text-decoration: none;
        color: #01204c;
        padding-inline: 0;/* Link text color */
    }

    #sidebar ul li a:hover {
        background-color: white; /* Background color on hover */
        color: #01204c; /* Text color on hover */
        border-radius: 25px;
    }

    #sidebar div #menu-btn {
        position: absolute;
        top: 15px;
        left: 15px;
        cursor: pointer;
        z-index: 1100; /* Ensure button is above sidebar */
    }

    #home {
        width: 100%;
        background-image: url("assets/homeMetalorixPhone.png");
        background-size: cover;
    }

    #home img {
        width: 100%;
        opacity: 0;
    }

    #about {
        width: 100%;
        background-image: url(" assets/aboutMetalorixPhone.png");
        background-size: cover;
    }

    #about img {
        width: 100%;
        opacity: 0;
    }

    #posts div {
        display: flex;
        flex-direction: column; /* Vertical order */
        align-items: center; /* Center align posts */
        margin-top: 20px;
    }

    #posts div div {
        width: 95%; /* Full width with padding */
        margin-bottom: 10px; /* Space between posts */
    }

    #posts div h1 {
        font-size: 1.5em;
    }

    #merchandise div {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }

    #merchandise div h1 {
        font-size: 2em;
    }

    #merchandise div h2 {
        font-size: 1.2em;
    }
}
