body {
    background-color: #E6E6FA;
    width: calc(100% - 80px);
    margin-left: 72px;
}

/*#home {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    width: 100%;*/
/*    background-color: #733E6A;*/
/*    border-radius: 25px;*/
/*}*/

/*#home div {*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-wrap: wrap;*/
/*    border-radius: 25px;*/
/*    width: 100%;*/
/*}*/

/*#home div div:first-child {*/
/*    justify-content: left;*/
/*    align-items: center;*/
/*    display: flex;*/
/*    margin-left: 20px;*/
/*}*/

/*#home div div {*/
/*    padding-inline: 15px;*/
/*    text-align: center;*/
/*    flex: 1;*/
/*}*/

/*#home div div p {*/
/*    color: #FFFDD0;*/
/*    font-family: "Swiss-Extra-Compressed-Roman", sans-serif;*/
/*    font-size: 20px;*/
/*}*/


/*#home div div ul {*/
/*    list-style: none;*/
/*    display: flex;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    flex-wrap: wrap;*/
/*}*/

/*#home div div ul li a {*/
/*    text-decoration: none;*/
/*    color: #FFFDD0;*/
/*    margin: 10px;*/
/*    font-family: "Swiss-Extra-Compressed-Roman", sans-serif;*/
/*    font-size: 20px;*/
/*    background-color: #733E6A;*/
/*    border-radius: 25px;*/
/*}*/
/*#home div div ul li a:hover {*/
/*    color: #733E6A;*/
/*    background-color: #FFFDD0;*/
/*    padding: 5px;*/
/*}*/

/*#home div div img {*/
/*    padding: 5px;*/
/*    height: 100px;*/
/*    width: 100px;*/
/*}*/

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px; /* Adjust width as needed */
    height: 100%; /* Full height of viewport */
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Shadow for sidebar */
    transition: transform 0.3s ease;
    z-index: 1000; /* Ensure sidebar is above other content */
    background-color: #E6E6FA;

}

#sidebar div {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 5px;
}

#sidebar div img {
    height: 100px;
    width: 100px;
}

#sidebar.closed {
    transform: translateX(-100%);
}

#sidebar ul {
    list-style: none;
    padding: 0;
}

#sidebar ul li {
    padding: 10px 15px;
}

#sidebar ul li a {
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    padding: 5px;
    display: block;
    text-decoration: none;
    color: #733E6A; /* Link text color */
}

#sidebar ul li a:hover {
    background-color: #733E6A; /* Background color on hover */
    color: #FFFDD0; /* Text color on hover */
    border-radius: 25px;
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

#about div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#about div div {
    justify-content: center;
    display: grid;
    align-items: center;
    width: 1100px;

}

#about div div h1 {
    font-size: 50px;
    text-align: center;
    color: #733E6A;
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

#about div div p {
    text-align: center;
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
    font-weight: normal;
    color: #733E6A;
    font-size: 20px;
    text-justify: auto;
}

#posts div {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#posts div div {
    height: 100%;
    padding-inline: 5px;
}

#posts div h1 {
    font-size: 30px;
    color: #733E6A;
    font-family: ui-monospace, 'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono', monospace;
}

#merchandise div {
    justify-content: center;
    display: flex;
    align-items: center;
}

#merchandise div h1 {
    color: #733E6A;
    font-size: 50px;
}

#merchandise div h2 {
    color: #733E6A;
    font-size: 25px;
}
