@media only screen and (max-width: 390px) {
    #sidebar {
        width: 75%; /* Adjust width for smaller screens */
    }

    #sidebar ul li {
        padding: 8px 10px;
    }

    #sidebar ul li a {
        font-size: 0.9em;
    }

    body {
        width: calc(100% - 60px);
        margin-left: 55px;
    }

    #about div {
        margin-top: 10px;
    }

    #about div div {
        width: 95%;
        margin-inline: 2.5%;
    }

    #about div div h1 {
        font-size: 1.5em;
    }

    #about div div p {
        font-size: 0.8em;
    }

    #posts div {
        margin-top: 10px;
    }

    #posts div div {
        padding-inline: 5px;
    }

    #posts div h1 {
        font-size: 1.2em;
    }

    #merchandise div h1 {
        font-size: 1.5em;
    }

    #merchandise div h2 {
        font-size: 1em;
    }
}
